.category {
  height: 310px;
  width: 300px;
  background-color: white;

  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-left: 10px;
}
.category img {
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  padding: 0px 10px;
  /* position: relative;
  overflow: hidden;  */
}
.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
.category h2,
.category p {
  padding: 5px;
  /* margin-left: 15px; */
  margin-left: 15px;
}

.category p {
  /* color: #565959; */
  color: rgb(9, 132, 209);
  font-size: 12px;
  font-weight: bold;
}
.category:hover {
  box-shadow: 0 4px 14px 0 rgba(213, 217, 217, 0.25);
  border-color: #e77600;
  cursor: pointer;
}
.Category__container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  max-width: 1600px;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
  place-items: center;
}
